# Ignore Rust build files and target binaries
target/
*.rs.bk

# Ignore Cargo lock file
Cargo.lock

# Ignore environment files and secrets
.env
secrets/

# Ignore SQLite database files
*.sqlite

# Ignore log files
*.log

# Ignore Python virtual environment directories
pytorch_env/
cpython/

# Ignore Miniconda installer
Miniconda3-latest-Linux-x86_64.sh